.small-pane {
    -fx-background-color: white;
    -fx-pref-width: 596;
    -fx-pref-height: 434;
}
.top-pane {
    -fx-background-color: #2B4865;
    /*-fx-pref-width: 1150;*/
    /*-fx-pref-height: 40;*/
}
.top-label {
    -fx-text-fill: #f5f6f5;
    -fx-font-family: "Verdana";
    -fx-font-size: 18;
}
.cancel-pane:hover {
    -fx-background-color: #b71818;
    -fx-background-radius: 5;
}

.label-background {
    -fx-background-color: #dae0da;
    -fx-font-size: 15;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #F6F6F6;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-border-color: #3a6188;
    -fx-border-width: 0.5;
}
